doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/dist/main.css", attr)
    title Juego de click en CSS
  body 

  mixin enemies
    li
      input(type="checkbox")
      .shield

  ul
    +enemies
    +enemies
    +enemies
    +enemies
    +enemies
    +enemies
  h3.final-count Score: 