@use "./variables"as*;

@mixin skulls {
  background-color: $color-shield;
  background-image: $bg-skull;
}

@mixin border ($is:20%, $ds:20%, $id:0, $ii:0) {
  border-top: 20px solid $color-shield-top;
  border-radius: $is $ds $id $ii;
}

@mixin colum {
  border-left: 10px solid $color-shield-top;
  border-radius: 25% 0 0 25%;
}

@mixin topograp {
  background-color: $color-shield;
  background-image: $bg-topography;
}

@mixin layers ($bs, $is) {
  block-size: $bs;
  inline-size: $is;
  // opacity: .4;
}

@mixin jumping ($jump_Time) {
  animation-name: jump;
  animation-duration: $jump_Time;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}