body 
    .container
      div.container__layer.container-1 
        +ghostNPC
      div.container__layer.container-2 
      div.container__layer.container-3 
        +ghostNPC
      div.container__layer.container-4 
      div.container__layer.container-5 
        +ghostNPC
      div.container__layer.container-6 
      div.container__layer.container-7 
        +ghostNPC
      div.container__layer.container-8 
      div.container__layer.container-10 
        +ghostNPC
      div.container__layer.container-11 
      h3.final-count Score: 