doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/dist/ghost.css")
    title Fanstasma
  body 
    section.container
      .ghost 
        .ghost__face
          .ghost__face--eyes
            span 
            span 
          .ghost__face--mouth 