mixin ghostNPC
  .ghost 
        .ghost__face
          .ghost__face--eyes
            span 
            span 
          .ghost__face--mouth 

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/dist/layout.css")
    title Layout de juego
  body 
    .container
      div.container__layer.container-1 
        +ghostNPC
      div.container__layer.container-2 
      div.container__layer.container-3 
        +ghostNPC
      div.container__layer.container-4 
      div.container__layer.container-5 
        +ghostNPC
      div.container__layer.container-6 
      div.container__layer.container-7 
        +ghostNPC
      div.container__layer.container-8 
      div.container__layer.container-9 
      div.container__layer.container-10 
        +ghostNPC